<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flag</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
</head>
<body>


<div style="position: relative; left: 0; top: 0;">
<table id="flag" >
    <tr>
        <th class="black"></th>
        <th class="black"></th>
        <th class="black"></th>
        <th class="black"></th>
    </tr>

    <tr>
        <td class="white"></td>
        <td class="white"></td>
        <td class="white"></td>
        <td class="white"></td>
    </tr>

    <tr>
        <td class="red"> </td>
        <td class="red"></td>
        <td class="red"></td>
        <td class="red"></td>
    </tr>

    <tr>
        <td class="white"></td>
        <td class="white"></td>
        <td class="white"></td>
        <td class="white"></td>
    </tr>

    <tr>
        <td class="green"></td>
        <td class="green"></td>
        <td class="green"></td>
        <td class="green"></td>
    </tr>
</table>
<img src="../static/image/kenyanflaglogo.png" id="flagimage">
</div>

</body>
</html>