<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XYZ LIMITED</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
</head>
<body style="align-content: center">

<center><h1>Welcome to XYZ limited</h1>
    <h3>Welcome to XYZ limited</h3>
    <h6>Welcome to XYZ limited</h6>

    <!-- the tow dots below means we're exiting the folder we're currently in which is templates.
    Similar to linux command line code
    Mary~$ cd Documents.
    Mary~$ ..
    -->

    <a href="/home">HOME</a> -
    <a href="/products">PRODUCTS</a> -
    <a href="/services">SERVICES</a> -
    <a href="/joinus">JOIN US</a> -
    <a href="http://www.turtorialspoint.com">CONTACT US</a> -
        <br>
</center>



<img src="../static/image/daisy.jpg" alt="image.jpg">

<p style = "width:500px">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type
    specimen book. It has survived not only five centuries, but also the leap into
    electronic typesetting, remaining essentially unchanged. It was popularised in
    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

<h2>Our vision</h2>
<p id="p1">Empowering the youth, electronic typesetting, remaining essentially unchanged. It was popularised in
    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

<p class="p2">PHP tutorials will help you to learn the fundamentals of one of the most popular and widely-used server side
    scripting language in existence today, from the basic to advanced topics,
    so that you can make a dynamic and robust website yourself with much less effort.</p>
<p class="p2">Operators are symbols that tell the PHP processor to perform certain actions. For example, the addition (+) symbol
    is an operator that tells PHP to add two variables or values,
    while the greater-than (>) symbol is an operator that tells PHP to compare two values.</p>
<p class="p2">The arithmetic operators are used to perform common arithmetical operations, such as addition, subtraction,
    multiplication etc. Here's a complete list of PHP's arithmetic operators:</p>

<img src="../static/image/pokercards.png" alt="pokercards.png">
<br>
<img src="../static/image/shark.jpg" alt="shark.jpg">


<table style = "padding:20px">
    <tr>
        <th>NAME</th>
        <th>AGE</th>
        <th>LOCATION</th>
    </tr>

    <tr>
        <td>Barry</td>
        <td>25</td>
        <td>Queens</td>
    </tr>

    <tr>
        <td>Kenny</td>
        <td>31</td>
        <td>Georgia</td>
    </tr>


</table>

</body>
</html>