<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JOINUS</title>
   <link rel="stylesheet" href="../static/style.css" type="text/css">
</head>
<body id="body1">

    <center><h1>Welcome to XYZ limited</h1>
        <h3>Welcome to XYZ limited</h3>
        <h6>Welcome to XYZ limited</h6>

        <!-- the tow dots below means we're exiting the folder we're currently in which is templates.
        Similar to linux command line code
        Mary~$ cd Documents.
        Mary~$ ..
        -->

        <a href="/home">HOME</a> -
        <a href="/products" class="active">PRODUCTS</a> -
        <a href="/services">SERVICES</a> -
        <a href="/joinus">JOIN US</a> -
        <a href="/contactus">CONTACT US</a> -
            <br>
    </center>
<!-- CSS stands for cascading stype sheets
    Three types:
    1.  inline
    2.  internal - done inside <head> tags
    3.  external
    -->
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type
    specimen book. It has survived not only five centuries, but also the leap into
    electronic typesetting, remaining essentially unchanged. It was popularised in
    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>


    <fieldset>
        <legend>Personal details</legend>
        <form>
            <label>NAME: </label>
            <br/>
            <br/>
            <br/>
            <input type="text" name="username" placeholder="Enter name ..."                   />
            <br/>
            <br/>
            <br/>
            <label >PASSWORD: </label>
            <br/>
            <br/>
            <br/>
            <input type="password" name="password" placeholder="Enter password ..."                   />
            <br/>
            <br/>
            <br/>
            <label >CONFIRM PASSWORD: </label>
            <br/>
            <br/>
            <br/>
            <input type="password" name="confirm" placeholder="Confirm password ..."                   />
            <br/>
            <br/>
            <br/>
            <label>EMAIL: </label>
            <br/>
            <br/>
            <br/>
            <input type="email" name="email" placeholder="Eneter email ..."                   />
            <br/>
            <br/>
            <br/>
            <label >ID NO.: </label>
            <br/>
            <br/>
            <br/>
            <input type="number" name="id" placeholder="Enter ID ..."                   />
            <br/>
            <br/>
            <br/>
             <label >TEL NUMBER: </label>
            <br/>
            <br/>
            <br/>
            <input type="tel" name="tel" placeholder="Enter Phone number ..."                   />
            <br/>
            <br/>
            <br/>
            <label >UPLOAD CV: </label>
            <br/>
            <br/>
            <br/>
            <input type="file" name="cv" />
            <br/>
            <br/>
            <br/>
            Select gender:
            <br/>
            <br/>
            <br/>
            <input type="radio" name="gender"/><label>Male</label>
            <input type="radio" name="gender"/><label>Female</label>
            <br/>
            <br/>
            <br/>
            Pick a color:
            <br/>
            <br/>
            <br/>
            <input type="checkbox" name="color1"/><label>GREEN</label>
            <input type="checkbox" name="color2"/><label>BLUE</label>
            <input type="checkbox" name="color3"/><label>RED</label>
            <br/>
            <br/>
            <br/>
            Pick your town:
            <select name="town" id="">
                <option value="nai">nairobi</option>
                <option value="mba">mombasa</option>
                <option value="kis">kisumu</option>
                <option value="eld">eldoret</option>
            </select>
            <input type="submit" value="register"/>
            <input type="reset"/>
            <button type="submit" name="submit" >Submit details</button>
        </form>
    </fieldset>


</body>
</html>