<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
</head>
<body id="body2">

    <center><h1>Welcome to XYZ limited</h1>
<h3>Welcome to XYZ limited</h3>
<h6>Welcome to XYZ limited</h6>

<!-- the tow dots below means we're exiting the folder we're currently in which is templates.
Similar to linux command line code
Mary~$ cd Documents.
Mary~$ ..
-->

<a href="/home">HOME</a> -
<a href="/products" class="active">PRODUCTS</a> -
<a href="/services">SERVICES</a> -
<a href="/joinus">JOIN US</a> -
<a href="http://www.turtorialspoint.com">CONTACT US</a> -
    <br>
</center>

<h2>Programs</h2>
    <ol type="I">
        <li>Python program</li>
        <li>Java program</li>
        <li>c++ program</li>
        <li>c# program</li>

    </ol>

<h2>Courses</h2>
    <ul type="square|disk|circle">
        <li>Python </li>
        <li>Java </li>
        <li>c++ </li>
        <li>c# </li>

    </ul>

<!-- definition list -->
    <h2>Latest news</h2>
<dl>
    <dt>Politics</dt>
        <dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        <a href="">Read more</a>
        </dd>
    <dt>Business</dt>
        <dd>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type
        <a href="">Read more</a>
        </dd>
    <dt>Sports</dt>
        <dd>specimen book. It has survived not only five centuries, but also the leap into
    electronic typesetting, remaining essentially unchanged. It was popularised in
        <a href="">Read more</a>
        </dd>
    <dt>Trending</dt>
        <dd>the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</dd>

</dl>


</body>
</html>