<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Servises</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
</head>
<body>

    <center><h1>Welcome to XYZ limited</h1>
        <h3>Welcome to XYZ limited</h3>
        <h6>Welcome to XYZ limited</h6>

        <!-- the tow dots below means we're exiting the folder we're currently in which is templates.
        Similar to linux command line code
        Mary~$ cd Documents.
        Mary~$ ..
        -->

        <a href="/home">HOME</a> -
        <a href="/products" class="active">PRODUCTS</a> -
        <a href="/services">SERVICES</a> -
        <a href="/joinus">JOIN US</a> -
        <a href="/contactus">CONTACT US</a> -
            <br>
    </center>

<h2>Our services prices</h2>
<table id="originalTable">
    <tr>
        <th>ITEM</th>
        <th>COST</th>
        <th>SELLER</th>
        <th>PHOTO</th>
    </tr>

    <tr>
        <td>Pest control</td>
        <td>40$</td>
        <td>Queens</td>
        <td><img src="../static/image/daisy.jpg" alt="daisy.jpg" width="70px" height="70px"></td>
    </tr>

    <tr>
        <td>Casino </td>
        <td>310$</td>
        <td>Georgia Bay</td>
        <td><img src="../static/image/pokercards.png" alt="pokercards.png" width="70px" height="70px"></td>
    </tr>

    <tr>
        <td>Gardening</td>
        <td>25$</td>
        <td>Sally's garden</td>
        <td><img src="../static/image/daisy.jpg" alt="daisy.jpg" width="70px" height="70px"></td>
    </tr>

</table>
</body>
</html>